@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');



.title{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    font-size: 2.5em;
    color: rgb(0, 0, 0);
    cursor:default;
    font-family: 'Silkscreen', cursive;

}
.container {



  /**
   * User input values.
   */
   --grid-layout-gap: 10px;
   --grid-column-count: 5;
   --grid-item--min-width: 100px;
 
   /**
    * Calculated values.
    */
   --gap-count: calc(var(--grid-column-count) - 1);
   --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
   --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
    grid-auto-rows: 250px;
    gap: 10px;
    margin-left: 150px;
    margin-right: 100px;

}

.galleryContainer {
    border: solid rgb(10, 10, 10) 8px;
    border-radius: 10px;
   

}

.galleryContainer:hover {
    border: solid rgb(7, 60, 236);
}

.galleryContainer:active {
    border: solid rgb(8, 235, 65);
   

}


.galleryItem {
    width: 100%;
    height: 100%;
    position: relative;

}

.galleryItem .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.galleryItem .image img {
    width: 100%;
    height: 100%;
    object-fit:fill;
    object-position: 50% 50%;
    cursor: pointer;
    transition: .5 ease-in-out;
    
}

.galleryItem:hover .image img {
    transform: scale(1.5);
}





.galleryItem:hover .button {
    opacity: 1;
    animation: move-down .1s linear;
    padding: 1em;
    width: 100%;

}

@keyframes move-down {
    0% {
        top: 10%;
    }

    50% {
        top: 35%;
    }

    100% {
        top: 50%;
    }
}