.body{
    background: black;
    list-style: none;
    margin: 0;
    width: 100%;
    list-style: none;
    text-align: center;
    margin-left: 0;


}

.links{
    color: rgb(219, 226, 226);
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    
    display: inline-block;
    text-decoration: none;
    margin-top: 10px;
    
}

.links:first-child{
    border-bottom-left-radius: 60%; 
}

.links:nth-last-child(2){
    border-bottom-right-radius: 60%; 
}

.links:hover {
    text-decoration: none;
    background: linear-gradient(to top,rgb(88, 127, 199), rgb(2, 2, 2)); ;
  }

.alignRight{
    float: right;
    margin-top: 10px;
    margin-right: 30px;
}

.btn {
    background: hsl(210, 1%, 36%);
    color: white;
    border: none;
    padding: .5em .75em;
    border-radius: .25em;
    transition: .2s;
}

.btn:hover{
    background: rgb(88, 127, 199);
    transition: .2s;
}