.title{
    margin-left: 45%;
}
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 255px);
    grid-auto-rows: auto;
    gap: 1px;
    margin-left: 150px;
    margin-right: 100px;
}

.galleryContainer:hover {
    border: solid rgb(47, 113, 255);
}

.galleryContainer:active {
    border: solid rgb(7, 179, 44);

}


.galleryItem {
    width: 100%;
    height: 100%;
    position: relative;

}

.galleryItem .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.galleryItem .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    cursor: pointer;
    transition: .5 ease-in-out;
    
}

.galleryItem:hover .image img {
    transform: scale(1.5);
}

.galleryItem .button {
    opacity: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 30px;
    pointer-events: none;
    z-index: 4;
    transition: .3 ease-in-out;

}



.galleryItem:hover .button {
    opacity: 1;
    animation: move-down .1s linear;
    padding: 1em;
    width: 100%;

}

@keyframes move-down {
    0% {
        top: 10%;
    }

    50% {
        top: 35%;
    }

    100% {
        top: 50%;
    }
}